*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT sans', sans-serif;
    background-color: black;
}

.header-ind{
    width: 100%;
    height: 100vh;
    background:url(../img/N4hL7.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
}
@media (max-width: 800px){
    .header-ind{
        background: url(../img/N4hL7I.jpg) no-repeat fixed;
        position: relative;
        background-size: contain;
    }
}

@media (max-width: 525px){
    .header-ind{
        background: url(../img/N4hL7I300.jpg) no-repeat fixed;
        position: relative;
        background-size:cover;
    }
}



/***************************NAVBAR********************/
.navbar{
    background-color: black;
    font-size: 15px;
}

.icon-img{
    height: 30px;
}

.about {
	margin-top: 330px;
	align-items: center;
}

.about .text-center h1 {
	text-transform:uppercase;
	font-size:40px;
    color: #fff;
    align-items: center;
    font-weight: bold;
    
    font-family: Helvetica, sans-serif;
    opacity: 0.7;
}

.about .text-center h3 {
	margin-top:20px;
	color: #fff;
    align-items: center;
    font-size: 15px;
    font-family: 'PT sans', sans-serif;
    opacity: 0.7;
} 
@media (max-width: 1000px){
    .about {
        
        align-items: center;
    }
    .about .text-center h1 {
        text-transform:uppercase;
        font-size:25px;
        color: #fff;
        align-items: center;
        font-weight: bold;
        
    }
    .about .text-center h3 {
        margin-top:10px;
        color: #fff;
        align-items: center;
        font-size: 15px;
     }
}

@media (max-width: 600px){
    .about {
       
        align-items: center;
    }
    .about .text-center h1 {
        text-transform:uppercase;
        font-size:20px;
        color: #fff;
        align-items: center;
        font-weight: bold;
        
    }
    .about .text-center h3 {
      
        
        color: #fff;
        align-items: center;
        font-size: 11px;
  }
}
@media (max-width: 420px){
    .about {
        margin-top: 220px;
        align-items: center;
    }
    .about .text-center h1 {
        text-transform:uppercase;
        font-size:10px;
        color: #fff;
        align-items: center;
        font-weight: bold;
        
    }
    .about .text-center h3 {
        margin-top:10px;
        color: #fff;
        align-items: center;
        font-size: 9px;
  }
}


/**********************footer*********************/
#footer {
    background: #111;
    padding: 30px 0;
    color: #fff;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }


  /*******************integrantes************************/
  /*.action {
    overflow: visible;
    padding: 0px;
    width: 100;
    background: #f2f2f2;
    position: relative;
  }
  .action .left-text {
    padding: 70px 0;
    padding-right: 60px;
    width: 50%;
  }
  .action .left-text h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .action .left-text p {
    padding-top: 20px;
  }
  .action .left-text em {
    font-size: 16px;
    color: #aaa;
    font-weight: 300;
    font-style: normal;
  }
  .action .image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/7.jpg);
  }*/

  .section-int .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/7.jpg);
  }