:root{
  --background: #e0e5ec;
  --gray: #797d7f;
}

*::before,
*::after {
  box-sizing: border-box;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT sans', sans-serif;
    background-color: rgb(2, 2, 2);
}

.header-ind{
    width: 100%;
    height: 100vh;
    background:url(../img/N4hL7.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
}
@media (max-width: 800px){
    .header-ind{
        background: url(../img/N4hL7I.jpg) no-repeat fixed;
        position: relative;
        background-size: contain;
    }
}

@media (max-width: 525px){
    .header-ind{
        background: url(../img/N4hL7I300.jpg) no-repeat fixed;
        position: relative;
        background-size:cover;
    }
}



/***************************NAVBAR********************/
#nav-link-spotify{
  color:#1DD05D;
}
.navbar{
    background-color: black;
    font-size: 15px;
}

.icon-img{
    height: 30px;
}

.about {
	margin-top: 330px;
	align-items: center;
}

.about .text-center h1 {
	text-transform:uppercase;
	font-size:40px;
    color: #fff;
    align-items: center;
    font-weight: bold;
    
    font-family: Helvetica, sans-serif;
    opacity: 0.7;
}

.about .text-center h3 {
	margin-top:20px;
	color: #fff;
    align-items: center;
    font-size: 15px;
    font-family: 'PT sans', sans-serif;
    opacity: 0.7;
} 
@media (max-width: 1000px){
    .about {
        
        align-items: center;
    }
    .about .text-center h1 {
        text-transform:uppercase;
        font-size:25px;
        color: #fff;
        align-items: center;
        font-weight: bold;
        
    }
    .about .text-center h3 {
        margin-top:10px;
        color: #fff;
        align-items: center;
        font-size: 15px;
     }
}

@media (max-width: 600px){
    .about {
       
        align-items: center;
    }
    .about .text-center h1 {
        text-transform:uppercase;
        font-size:20px;
        color: #fff;
        align-items: center;
        font-weight: bold;
        
    }
    .about .text-center h3 {
      
        
        color: #fff;
        align-items: center;
        font-size: 11px;
  }
}
@media (max-width: 420px){
    .about {
        margin-top: 220px;
        align-items: center;
    }
    .about .text-center h1 {
        text-transform:uppercase;
        font-size:10px;
        color: #fff;
        align-items: center;
        font-weight: bold;
        
    }
    .about .text-center h3 {
        margin-top:10px;
        color: #fff;
        align-items: center;
        font-size: 9px;
  }
}


/**********************footer*********************/
#footer {
    background: #111;
    padding: 30px 0;
    color: #fff;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
 
  #footer .icon-redes{
    text-align: center;
  }

  .icon-redes li{
    list-style: none;
    display: inline-flex;
    font-size: 30px;
    
    padding: 10px;
  }


  /*******************integrantes IMAGEN DERECHA************************/


  .action {
    margin: 90px 100px; 
    overflow: visible;
    padding: 0px;
    width: 100;
    background: #dbdada;
    position: relative;
    animation: fadeInUp;
    animation-duration: 1s;
  }
  .action .left-text {
    padding: 70px 0;
    padding-right: 60px;
    width: 40%;
  }
  .action .left-text h4 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .action .left-text p {
    padding-top: 20px;
  }
  .action .left-text em {
    font-size: 16px;
    color: rgb(126, 125, 125);
    font-weight: 300;
    font-style: normal;
  }
  .action .right-image-angus {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/angus.jpg);
  }
  
  
  .action .right-image-brian {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size:cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/brian.jpg);
  }
  .action .right-image-clif {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/clif.jpg);
  }
  .action .right-image-stevie {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/stevie.jpg);
  }

  .action .right-image-phil {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/phill.jpg);
  }
  .action .right-image-bon {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/bon.jpg);
  }
  .action .right-image-malcom {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(../img/malcom.jpg);
  }

  

  @media (max-width: 1000px){
    #action{
      display: none !important;
    }
}
.acordeon{
  margin-top: 60px;
}

@media (min-width: 1000px){
  .acordeon{
    display: none !important;
  }
}

.accordion .accordion-button{
  background-color:rgb(202, 199, 199) ;
}

.accordion-body .img-fluid{
  animation: fadeInUp;
  animation-duration: 1s;
}

.accordion-body p{
  animation: fadeInUp;
    animation-duration: 1s;
}

/*********************HISTORI******************/

.history{
  padding: 0;
  margin-top: 60px;
 
}
.history .container .row{
  margin: 0;
  background-color: rgb(229, 226, 226);
  align-items: top;
  padding: 30px;
  animation: fadeIn;
  animation-duration: 3s;
  font-family: 'PT sans'
}


/**************** REPRODUCTOR**********************/
.spotify{
  margin: 70px 0px;
  
  
}

.spotify .container{
  width: 100%;
  height: 80vh;
  background: black;
  padding: 30px;
  border:#1DD05D inset 5px;
  border-radius: 10px;
  
}

.spotify .container .discografia{
  height: 60vh;
  overflow-y: scroll;
  list-style: none;
  color: rgb(201, 200, 200);
  background: black;
  left: 0;
  
}



.spotify .container .disc{
  color: rgb(201, 200, 200);
  align-items: center;
}
.icon-spoty .fa-spotify{
  color: #1DD05D
}
.icon-spoty h3{
  color: #1DD05D;
}

.spotify .container .discografia li:hover{
  cursor: pointer;
  color: #1DD05D;
  background: rgb(56, 56, 56);
  transition: .5s;
  
}

@media (max-width: 800px){
  .spotify{
    display: none !important;
  }
}

/*********************  REPRODUCTOR MOVILE***************************/
.spotify-mobile{
  margin: 100px 30px;
  background-color: rgb(160, 160, 160);
  
  
}

.spotify-mobile .container-mobile .discografia-mobile{
  
  height: 60vh;
  overflow-y: scroll;
  list-style: none;
  color: rgb(201, 200, 200);
  background: rgb(48, 47, 47);
  left: 0;

}


.spotify-mobile .container-mobile .colum-mobile {
  position: fixed;
  background-color: rgb(48, 47, 47);
  top: 60px;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow:hidden;
  width: 40px;
  
}


.discografia-mobile::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

.spotify-mobile .container-mobile .discografia-mobile li:hover{
  cursor: pointer;
  color: #1DD05D;
  background: rgb(56, 56, 56);
  transition: .5s;
  
}

.container-mobile .colum-mobile:hover{
width: 300px;
transition: .2s;
}

@media (min-width: 800px){
  .spotify-mobile{
    display: none !important;
  }
}

.rep__hidd{
  display: none;
}


/*******************REPRODUCTOR BLANCO**************************/
.body__spotify{
  background-color: #fff;
  font-family:'Roboto Condensed', sans-serif;
}

.container__spot{
  margin-top: 50px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.player{
  width: 300px;
  height: 550px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 9px 9px 10px rgb(163, 177, 198, 0.6), 
  -9px -9px 16px rgb(255, 255, 255, 0.5);
}

.player__controls{
  display: flex;
  width: 95%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 10px;
}
.player__btn{
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px #fff9, 8px 8px 20px #0001, 5px 5px 6px 0px #0001;
  color: var(--gray);
}

.player__btn:active{
  box-shadow: inset -8px -8px 20px #fff9, inset -5px -5px 10px #fff9, inset 8px 8px 20px #0003, inset 5px 5px 6px #0001;
}

.player__btn--small{
  min-width: 50px;
  min-height: 50px;
}

.player__title{
  font-weight: 600;
  font-size: 0.8em;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;

}

.player__album{
 
  width: 190px;
}

.player__img{
  width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
  -8px -8px 50px rgb(255, 255, 255, 0.8), 3px 3px 25px rgb(0, 0, 0, 0.6 );

}

.player__song{
  position: relative;
  width: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  opacity: 0.5;
  margin: 0;
}

.player__level{
  width: 80%;
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin-top: 40px;

}

.player__level::-webkit-slider-runnable-track{
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
}

.player__level::-webkit-slider-thumb{
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: #5c87fe;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.audio-duration{
  margin-top: -30px;
  display: flex;
  width: 78%;
  font-size: 10px;
  font-weight: 600;
  color: #a1a1a1;
  letter-spacing: 1px;
}

.start{
  flex: 1;
}

.player__audio{
  visibility: hidden;
}

.player__btn--medium{
  min-height: 70px;
  min-width: 70px;
}

.blue{
  background-color: #5c87fe;
  color: #fff;
}

.hide{
  display: none;
}